amqp
anyjson
billiard
blist
cassandra-driver
celery
cql
cqlengine
Django
django-extensions
django-rest-swagger
djangorestframework
futures
jsonpickle
kombu
loremipsum
mysql
MySQL-python
pika
pytz
PyYAML
redis
six
thrift
markdown
django-cors-headers